version: '3'

services:
  elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:6.6.0
      restart: always
      environment:
        - http.host=0.0.0.0
        - transport.host=127.0.0.1
        - ELASTIC_USERNAME=${ELASTICSEARCH_USERNAME}
        - ELASTIC_PASSWORD=${ADMIN_PASSWORD}
      ports:
        - 9200:9200
      networks:
        - stack

  kibana:
      image: docker.elastic.co/kibana/kibana:6.6.0
      restart: always
      environment:
        - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
        - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
      ports:
        - 5601:5601
      networks:
        - stack
      depends_on:
        - elasticsearch

  logstash:
    build: ./infrastructure/elk/logstash/
    restart: always
    environment:
      - ELASTICSEARCH_USERNAME=${ELASTICSEARCH_USERNAME}
      - ELASTICSEARCH_PASSWORD=${ELASTICSEARCH_PASSWORD}
      - xpack.monitoring.elasticsearch.username=${ELASTICSEARCH_USERNAME}
      - xpack.monitoring.elasticsearch.password=${ELASTICSEARCH_PASSWORD}
    volumes:
      - ./infrastructure/elk/logstash/pipeline/:/usr/share/logstash/pipeline/
      - ./infrastructure/elk/logstash/input/:/usr/share/logstash/data/plugins/inputs/file/
      - ./infrastructure/elk/logstash/queue:/usr/share/logstash/queue
      - ./infrastructure/elk/logstash/libs:/libs
    networks:
      - stack
    depends_on:
      - elasticsearch
      - setup_logstash
      - postgres-compose

  postgres-compose:
    image: postgres:11.2
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 15432:5432
    volumes:
      - ./infrastructure/postgres/data:/var/lib/postgresql/data
    networks:
      - stack

  pgadmin-compose:
     image: dpage/pgadmin4
     environment:
       PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
       PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
     ports:
       - 16543:80
     depends_on:
       - postgres-compose
     networks:
       - stack

  setup_logstash:
    image: centos:7
    container_name: setup_logstash
    volumes: ['./infrastructure/elk/logstash/setup-logstash.sh:/usr/local/bin/setup-logstash.sh:ro']
    command: ['/bin/bash', '-c', 'cat /usr/local/bin/setup-logstash.sh | tr -d "\r" | bash']
    environment:
      ELASTIC_USERNAME: ${ELASTICSEARCH_USERNAME}
      ELASTIC_PASSWORD: ${ELASTICSEARCH_PASSWORD}
    networks:
      - stack
    depends_on:
      - elasticsearch

  setup_kibana:
    image: centos:7
    container_name: setup_kibana
    volumes: ['./infrastructure/elk/kibana/setup-kibana.sh:/usr/local/bin/setup-kibana.sh:ro']
    command: ['/bin/bash', '-c', 'cat /usr/local/bin/setup-kibana.sh | tr -d "\r" | bash']
    environment:
      ELASTIC_USERNAME: ${ELASTICSEARCH_USERNAME}
      ELASTIC_PASSWORD: ${ELASTICSEARCH_PASSWORD}
    networks:
      - stack
    depends_on:
      - elasticsearch

networks: {stack: {}}
